{% extends 'connect/base.html'%}

{% block main %}


<div class="container-fluid" style="margin-top:40px;">

	<div class="panel-group feed-panel-group">
	{% if misc_no %}
	{% for n in misc_no %}
		<div class="panel panel-default">
		<div class="panel-heading"><h3 class="panel-title" style="margin-bottom:10px;">{{n.name}}</h3>
		<span class="text-primary" title="{{n.desig}}" style="cursor:pointer;">{{n.desig}}</span><i  class="text-success glyphicon glyphicon-earphone call-user" data-user="{{s.user}}"></i></div>
		<div class="panel-body">{{n.num|linebreaksbr}}</div>
		</div>
	{% endfor %}
	{% else %}
	<div class="panel panel-default">
		<div class="panel-heading "><span class="text-info text-justify">Nothing to display.</span></div>
	</div>
	{% endif %}
		
	</div>

</div>
{%endblock main %}